<div class="image">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<br><br><br>

			<div class="card">
				<div class="text-center user-img">
					<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
						class="rounded-circle p-1 bg-primary" width="110">
				</div>
				<!-- <i class="fas fa-user-circle"></i> -->
				<div>
					<h2 class="text-center">Update Customer</h2>
				</div>
				<div class="card-body">
					<form class="m-2">
						<div class="form-group">
						 FirstName
							<input type="text" value="John deo" formControlName="FirstName" class="form-control">
							LastName
							<input type="text" value=" john deo" formControlName="lastname" class="form-control">

							 Phone
							<input type="number" value="6364738364" formControlName="phone" class="form-control">
							Email
							<input  type="email" value="John@gmail.com" formControlName="Email"
								class="form-control" readonly="readonly" >

							<input type="button" class="btn btn-primary px-4" value="Save Changes">
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>