<div class="image">
  <div class="container trader-container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
          <img src="assets/img/traders/img2.jpg" alt="stack photo" class="trader_img img-thumbnail">

        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="row">
            <div class="container" style="border-bottom:1px solid black">
              <h2>John Doe</h2>
            </div>
            <hr>
            <div class="col-md-6" style="padding-top: 2rem;">
              <ul class="container details">
                <!-- <li>
                <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>John deo</p>
              </li>
              <li>
                <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>John deo</p>
              </li> -->
                <li>
                  <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span><i class="fa fa-phone">
                    </i>+91 90000 00000</p>
                </li>
                <li>
                  <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><i
                      class="fa fa-envelope"></i>somerandom@email.com</p>
                </li>
                <li>
                  <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><i
                      class="fa fa-map-marker" aria-hidden="true"></i>Hyderabad</p>
                </li>
              </ul>
            </div>
            <div class="col-md-6" style="padding-top: 2rem;">
              <ul class="container details">
                <li>
                  <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><i
                      class="fa fa-id-card" aria-hidden="true"></i>Aadhar no.</p>
                </li>
                <li>
                  <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><i class="fa fa-home"
                      aria-hidden="true"></i>Address</p>
                </li>
                <li>
                  <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><i
                      class="fa fa-map-marker" aria-hidden="true"></i>Vegetable</p>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-8 offset-md-2">
          <div class="container ">

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ad odio, reprehenderit laboriosam
              voluptatibus esse dict impedit illo laborum iure Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam quisquam totam dignissimos, eum sapiente excepturi nobis! Voluptas repudiandae dolorem sed!
              cupiditate facere maxime.</p>
          </div>
        </div>
      </div>


      <div class="container heading">


        <div class="row">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="assets\img\headers-img-4.jpg" data-target="#image-gallery">
                <img class="img-thumbnail" src="assets\img\headers-img-4.jpg" alt="Another alt text">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="assets\img\headers-img-4.jpg" data-target="#image-gallery">
                <img class="img-thumbnail" src="assets\img\headers-img-4.jpg" alt="Another alt text">
              </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="assets\img\headers-img-4.jpg" data-target="#image-gallery">
                <img class="img-thumbnail" src="assets\img\headers-img-4.jpg" alt="Another alt text">
              </a>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                data-image="assets\img\headers-img-4.jpg" data-target="#image-gallery">
                <img class="img-thumbnail" src="assets\img\headers-img-4.jpg" alt="Another alt text">
              </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                data-image="assets\img\headers-img-4.jpg" data-target="#image-gallery">
                <img class="img-thumbnail" src="assets\img\headers-img-4.jpg" alt="Another alt text">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                data-image="assets\img\headers-img-2.jpeg" data-target="#image-gallery">
                <img class="img-thumbnail" src="assets\img\headers-img-2.jpeg" alt="Another alt text">
              </a>
            </div>





            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                        class="fa fa-arrow-left"></i>
                    </button>

                    <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                        class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>



          </div>


          <div class="container heading">

            <iframe width="400" height="300" src="https://www.youtube.com/embed/K47wXb6nLZU"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen style="margin-right: 20px;"></iframe>

            <iframe width="400" height="300" src="https://www.youtube.com/embed/K47wXb6nLZU"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

          <div class="card col-md-8 offset-md-2 heading">

            <div>
              <form [formGroup]="form">
                <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
                <!-- <div>Rating: {{form.value.rating}}</div>
            <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
              </form>
              <textarea class="form-control animated" cols="70" id="new-review" name="comment"
                placeholder="Enter your review here..." rows="8"></textarea>

              <div class="text-align">
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
      





          </div>
          <div class="container  heading">
          <div class="row ">
          
            <div class="col-md-8 offset-md-2">
            
                <div class="span7">
                  <div class="widget stacked widget-table action-table">


                    <div class="widget-content">

                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>

                            <th class="th">Username</th>
                            <th class="th">Review </th>
                            <th class="th">rating point</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr>


                            <td class="username">john deo, maharashtra , nasik , chandwad</td>


                            <td>Lorem ipsum dolor sit.</td>
                            <td><span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </td>
                          </tr>
                          <tr>

                            <td class="username">Intern
                              Explorer 5.0</td>

                            <td>Lorem ipsum dolor sit amet consectetur.</td>
                            <td><span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </td>
                          </tr>
                          <tr>

                            <td class="username">Internet
                              Explorer 5.5</td>


                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                            <td><span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </td>
                          </tr>
                          <tr>

                            <td class="username">Internet
                              Explorer 5.5</td>

                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita!</td>
                            <td><span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </td>
                          </tr>
                          <tr>

                            <td class="username">Internet
                              Explorer 5.5</td>

                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nostrum!</td>
                            <td><span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </td>
                          </tr>
                          <tr>

                            <td class="username">Internet
                              Explorer 5.5</td>


                            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                            <td><span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div> <!-- /widget-content -->

                  </div> <!-- /widget -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>