<div class="trader-bg">
    <div class="container ">
        <div class="row ">
           
            <div class="col-md-8 offset-md-2 card-container">
                <div class="card" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img1.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                            
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                              <li> Vagitables: onion, grapes, chilli </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img2.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img3.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img4.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img2.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="./assets/img/traders/img1.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
