<div class="trader-bg">
    <div class="container ">
        <div class="row ">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <app-filter-traders></app-filter-traders>
                        <div class="container">
                            <br/>
                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-10 col-lg-8">
                                                    <form class="card card-sm">
                                                        <div class="card-body row no-gutters align-items-center">
                                                            <div class="col-auto">
                                                                <i class="fas fa-search h4 text-body"></i>
                                                            </div>
                                                            <!--end of col-->
                                                            <div class="col">
                                                                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search traders">
                                                            </div>
                                                            <!--end of col-->
                                                            <div class="col-auto">
                                                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                                                            </div>
                                                            <!--end of col-->
                                                        </div>
                                                    </form>
                                                </div>
                                                <!--end of col-->
                                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2 card-container">
                <div class="card" routerLink="/tradersDetails">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img1.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" routerLink="/tradersDetails">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img2.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" routerLink="/tradersDetails">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img3.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img4.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img2.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/traders/img1.jpg" class="trader-img img-fluid img-thumbnail"
                                    alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">John Deo</h5>
                                <ul class="traders-data">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user1@gmail.com</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> 34534534534</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> Cecilia Chapman 711-2880 Nulla St.
                                    </li>
                                    <li><i  class="fa fa-id-card"  aria-hidden="true"></i> Aadhar No: 7648 7584 5575</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>