<!-- <div class="row">
    <div class="col-md-8 offset-md-2"> -->


<div class="container col-lg-8 offset-lg-2 col-md-12 ">
    <div class="about-box ">
        <div>
            <div class="row m-4">
                <div class="col-md-6 ">
                    <img src="assets\img\red-onion-.jpg" alt="" class="about-img img-fluid">

                </div>
                <div class="col-md-6">
                    <h1 class="about-heading">
                        Didn't Know where to start from
                    </h1>
                    <a href="#" class="btn btn-primary"> join us</a>
                    <p class="para-1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.mollitia excepturi illum assumenda
                        voluptatem dolorem dolorum aut nam ab ratione, adipisci fuga neque odio ea! Magnam voluptatem in
                        sit ad laudantium? Totam blanditiis beatae ipsam laborum.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div>

</div> -->